@charset "UTF-8";

/* untitled-font-3 */
@font-face {
  font-family: "untitled-font-3";
  src:url("https://file.myfontastic.com/SCTQ9pZafrkKH9QHjoqRKN/fonts/1509989929.eot");
  src:url("https://file.myfontastic.com/SCTQ9pZafrkKH9QHjoqRKN/fonts/1509989929.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/SCTQ9pZafrkKH9QHjoqRKN/fonts/1509989929.woff") format("woff"),
    url("https://file.myfontastic.com/SCTQ9pZafrkKH9QHjoqRKN/fonts/1509989929.ttf") format("truetype"),
    url("https://file.myfontastic.com/SCTQ9pZafrkKH9QHjoqRKN/fonts/1509989929.svg#1509989929") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-elbanaa:before {
  content: "\61";
}
.icon-a:before {
  content: "\62";
}
