/* ================== 
 * Copyrights
 * ================== */
.copy-color{background-color: #172028;overflow: hidden;}
#copyrights{min-height:50px;padding:10px 30px;border-top:1px solid #ff5722;;overflow:hidden}
#HTML110{display:block;margin-top:-29px;margin-right: -15px}
#HTML110 a{color:$(copts.link);font-family:'Changa', sans-serif;display:inline-block;margin:5px 5px;font-size:13px}
#HTML110 p{color:#aaaaaa;font-family:'Changa', sans-serif;display:inline-block;font-size:13px}
#HTML110 a:hover{color:#ff5722 !important}
#HTML110 .copyr-elbanaa{float:right}
#HTML110 .c-site p:first-child:before,#HTML110 .c-des p:first-child:before{vertical-align:-2px;font-family:ElbanaaAwesome;display:inline-block;margin-left:10px;-webkit-transition:.3s ease-out;transition:.3s ease-out}
#HTML110 .c-site p:first-child:before{content:"\f1f9"}
#HTML110 .c-des p:first-child:before{content:"\f1fc"}
#HTML110 .c-des{float:right}
#HTML110 .c-site{margin-left:30px;float:l}
#LinkList104{float:left}
#LinkList104 li a{background-color:$(copts.soc.back);color:#ffffff;width:30px;height:30px;text-align:center;padding-top:9px;border-radius:100%;box-shadow: 0 2px 11px 2px rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)}
#LinkList104 li{vertical-align:top;display:inline-block}
#LinkList104 li a:hover{color:#FFF}
/* ==================
* elbanaa
* ================== */
.elbanaa-wrapper #elbanaaa-right{float:right;z-index:999999;position:relative;}
.elbanaa-wrapper #elbanaaa-left{float:left;z-index:999999;position:relative;}
.elbanaa-wrapper {color:#fff;padding:0px 0;font-size:17px;}
.elbanaa-wrapper a{color:#fff;}
.elbanaa-wrapper #elbanaaa-right,.elbanaa-wrapper #elbanaaa-left{float:right;text-align:center;margin-right:-11px;}
@keyframes beating{0%{transform:scale(1);}40%{transform:scale(1.25);}70%{transform:scale(.9);}100%{transform:scale(1);}}
.copyr-elbanaa:hover .foosr2{right:10px;}
.copyr-elbanaa:hover{width:86px;background-color:#fff;border-radius: 100px;}
.copyr-elbanaa:hover .foosr1{left:-29px!important;}
.copyr-elbanaa .foosr1{width:16px;height:16px;position:absolute;top:10px;left:10px;transition:0.1s;}
.copyr-elbanaa .foosr2{position:absolute;width:66px;right:-73px;transition:0.2s;top: -2px;}
.copyr-elbanaa{display:inline-block;border-radius:3px;background-color:#120e28;margin-right:10px;width:36px;height:36px;font-family:ElbanaaAwesome;position:relative;transition:0.2s;overflow:hidden;top:22px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);}
.elbanaa-wrapper #elbanaaa-left p{display:inline-block;position:relative;top:0;}
.static_page .related-posts,.static_page .nepr-pager{display:none;}
div#elbanaaa-left a{color:#c3c3c3;}
